<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/english_class.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/js/json2.js"></script>
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script type="text/javascript" src="/js/backbone.js"></script>
    <script type="text/javascript" src="/js/session.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>

    <!-- app start -->
    <script type="text/javascript">
        $(function(){
            App = window.App || {};
            App.Model = window.App.Model || {};
            App.Collection = window.App.Collection || {};
            App.View =  window.App.View || {};
            
            App.Model.Class = Backbone.Model.extend({
              idAttribute: '_id',
              urlRoot: '/api/classes'
            });

            App.Collection.Classes = Backbone.Collection.extend({
              model: App.Model.Class,
              url: '/api/classes'
            });

            var classList = new App.Collection.Classes();

            App.View.MainView = Backbone.View.extend({
              template: _.template($('#classes-template').html()),
              events: {
                "click td":       "joinOrLeaveClass",
                "click button#btn-save" : "updateClassTitles"
              },
            
              joinOrLeaveClass: function(e){
                var that = this;
                if(!session.get('auth')) return false;

                var student = {userId: session.get('userId'), name: session.get('userName')};
                var element;
                if(e.target.nodeName == "TD"){
                    element = $(e.target);
                }else{
                    element = $(e.target).parent();
                }
                var glass = this.model.get(element.attr('id'));

                if(IsInClass(student, glass)){
                  removeStudent(student, glass);
                }else{
                  if(glass.get('students').length >= 4) return false;
                  glass.get('students').push(student);
                }

                glass.save({}, { 
                  success: function(model, resp){
                    that.render();
                  },
                  error: function(model, resp){
                    element.removeClass('wait');
                    alert('failed: ' + resp.responseText);
                  }
                });

                element.addClass('wait');
              },

              updateClassTitles : function() {
                var titles = [$('#monClass').val(), 
                                $('#tueClass').val(),
                                $('#wedClass').val(),
                                $('#thurClass').val(),
                                $('#friClass').val()];


                this.model.each(function(glass){
                    var weekday = new Date(glass.get('start')).getDay();
                    glass.save({title: titles[weekday - 1]});
                });
              },

              render:function(){
                $(this.el).html(this.template());

                this.model.each(function(glass){
                  var startTimeString = glass.get('start').replace(/-/g, "/").replace('T', " ").split('.')[0];
                  var endTimeString = glass.get('end').replace(/-/g, "/").replace('T', " ").split('.')[0];
                  var start = new Date(startTimeString).getHours() - 4;
                  var end = new Date(endTimeString).getHours() - 4;
                  var weekday = new Date(startTimeString).getDay();
                  var temp = [1000, 1000, 1000, 1000, 0, 1, 1000, 2, 3, 1000, 4, 5];
                  var classno = temp[start+end];

                  var box = $('tbody tr:eq(' + classno + ') td:eq(' + weekday + ')');
                  box.attr('id', glass.get('_id'));
                  var students = glass.get('students');
                  for(var i in students){
                    box.append('<span class="badge badge-info">' + students[i].name + '</span><br>');
                  }
                  if(students.length > 1){
                    box.addClass('open');
                  }
                  $('th:eq(' + weekday + ') small').html(glass.get('title'));
                });

                return this;
              }
            });

            var mainView = new App.View.MainView({model: classList, el: $('#main')});

            App.Router = Backbone.Router.extend({
                routes: {
                    'editClass' :   'editClass'
                },

                editClass: function() {
                    router.navigate('');
                    $('#class-editor').modal('show');
                }
            });

            var session = App.session = new App.Model.Session({auth: false});
            // session.save();
            new App.View.LoginBlock({model: session, el: $('#login-panel')}).render();

            var router = new App.Router();
            Backbone.history.start();

            classList.fetch({
                data: {start: '2012-11-19', end: '2012-11-24'},
                success: function(model, response){
                    mainView.render();
                }
            });

            function IsInClass(student, glass){
              var students  = glass.get('students');
              for(var i in students){
                if(students[i].userId == student.userId)
                    return true;
              }

              return false;
            }

            function removeStudent(student, glass){
              var temp = [];
              var students = glass.get('students');
              for(var i in students){
                if(students[i].userId != student.userId)
                  temp.push(students[i]);
              }

              glass.set('students', temp);
            }
        });
    </script>
  </head>

  <body style="padding-top: 90px;">
    <div class="container">
        <div class="row">
            <h2 class="span9">Welcome to English Communication Class(1633)</h2>
            <div id="login-panel" class="span3"></div>
        </div>
        <div id="main"></div>
        <div class="row">
            <div class="span3"><em>What does the color mean? </em></div>
            <div class="span3">
                <table class="table table-bordered">
                    <tr>
                        <td class="open">Class is open</td>
                        <td>Class is closed</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="span3"><em>Class active & inactive </em></div>
            <div class="span3">
                <table class="table table-bordered">
                    <tr>
                        <td class="open">4 max</td>
                        <td>less than 2</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <footer class="footer">
      <div class="container">
        <p>Designed and built with all the love in the world by <a href="https://myhome.microstrategy.com/Person.aspx?guid=B4B6FD09-1DF3-4AA2-85FC-DA1DE77B19AC" target="_blank">Wang, Junhua</a> and <a href="https://myhome.microstrategy.com/Person.aspx?guid=F26AEAC7-E6C7-46A0-8AD0-9704D858A3C1" target="_blank">Corey</a>.</p>
      </div>
    </footer>
  </body>

  <script type="text/template" id="classes-template">
    <table class="table table-bordered class">
        <thead>
            <tr>
                <th width="80px">Section Time</th>
                <th class="span2">Monday<br><em><small>England culture<small></em></th>
                <th class="span2">Tuesday<br><em><small>England culture<small></em></th>
                <th class="span2">Wednesday<br><em><small>England culture<small></em></th>
                <th class="span2">Thursday<br><em><small>England culture<small></em></th>
                <th class="span2">Friday<br><em><small>England culture<small></em></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="open">2:00 - 2:30</td>
                <td class="glass"></td>
                <td class="glass"></td>
                <td class="glass"></td>
                <td class="glass"></td>
                <td class="glass"></td>
            </tr>   
            <tr>
                <td class="open">2:30 - 3:00</td>
                <td class="glass"></td>
                <td class="glass"></td>
                <td class="glass"></td>
                <td class="glass"></td>
                <td class="glass"></td>
            </tr>   
            <tr>
                <td class="open">3:30 - 4:00</td>
                <td class="glass"></td>
                <td class="glass"></td>
                <td class="glass"></td>
                <td class="glass"></td>
                <td class="glass"></td>
            </tr>   
            <tr>
                <td class="open">4:00 - 4:30</td>
                <td class="glass"></td>
                <td class="glass"></td>
                <td class="glass"></td>
                <td class="glass"></td>
                <td class="glass"></td>
            </tr>
            <tr>
                <td class="open">5:00 - 5:30</td>
                <td class="glass"></td>
                <td class="glass"></td>
                <td class="glass"></td>
                <td class="glass"></td>
                <td class="glass"></td>
            </tr>
            <tr>
                <td class="open">5:30 - 6:00</td>
                <td class="glass"></td>
                <td class="glass"></td>
                <td class="glass"></td>
                <td class="glass"></td>
                <td class="glass"></td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
    <div class="modal hide fade" id="class-editor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Update Class Titles</h3>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="control-group">
                <label class="control-label" for="monClass">Monday</label>
                <div class="controls">
                  <input type="text" id="monClass" placeholder="Class Title">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="tueClass">Tuesday</label>
                <div class="controls">
                  <input type="text" id="tueClass" placeholder="Class Title">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="wedClass">Wednesday</label>
                <div class="controls">
                  <input type="text" id="wedClass" placeholder="Class Title">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="thurClass">Thursday</label>
                <div class="controls">
                  <input type="text" id="thurClass" placeholder="Class Title">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="friClass">Friday</label>
                <div class="controls">
                  <input type="text" id="friClass" placeholder="Class Title">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn" id="btn-cancel" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" id="btn-save" data-dismiss="modal" aria-hidden="true">Save changes</button>
          </div>
    </div>
  </script>
</html>