<div class='page-header'>
    <h1>菜品编辑器</h1>
    <p id="food-editor-message"></p>
</div>
<form class="form-horizontal" id="food-editor">
    <div class="control-group">
        <label class="control-label" for="input-name">菜品名</label>
        <div class="controls">
            <input type="text" id="input-title" placeholder="菜品名" name="title" value="<%= title %>">
            <span class="help-block">菜名请勿重复.</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="input-description">详细说明</label>
        <div class="controls">
            <input type="text" id="input-description" placeholder="描述" name="description" value="<%= description %>">
            <span class="help-block">比如套餐包含的菜种类.</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="input-price">价格</label>
        <div class="controls  input-prepend">
            <span class="add-on">￥</span><input type="text" id="input-price" placeholder="菜品名" name="price" value="<%= price %>">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="input-discount">折扣</label>
        <div class="controls">
            <input type="text" id="input-discount" placeholder="菜品名" name="discount" value="<%= discount %>">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary" id="btnSave">保存修改</button>
            <button type="button" class="btn" id="btnCancel">取消</button>
        </div>
    </div>
</form>